{% extends "base.html.twig" %}

{% block title %}ArticleBundle:Article:add{% endblock %}

{% block content %}
<div class="contact">
    <div class="container">
    <div class="album py-5 bg-light">
        <div class="container">



    {{ form_start(Form) }}


    {{ form_end(Form) }}
    </div>
</div>
    </div>
</div>
{% endblock %}
