{% extends "dashbase.html.twig" %}

{% block title %}ArticleBundle:Article:add{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Welcome to the Article</h1>
    {{ form_start(Form) }}


    {{ form_end(Form) }}

{% endblock %}