{% extends "base.html.twig" %}

{% block title %}ArticleBundle:Article:add{% endblock %}

{% block content %}
    <h1>Update Article</h1>
    {{ form_start(form) }}


    {{ form_end(form) }}
{% endblock %}