{% extends 'base.html.twig' %}

{% block content %}
<center>
    <div class="card-header">

    <h3 class="card-title">Add the Bike</h3>
    </div>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Create" />
    {{ form_end(form) }}


    <ul>
        <li>
            <a href="{{ path('veloR_index') }}" class="btn btn-primary">Back to the list</a>
        </li>
    </ul>

</center>

{% endblock %}
