{% extends 'base.html.twig' %}

{% extends 'dashbase.html.twig' %}

{% block content %}
    <h1></h1>


    <ul>
        <li>
            <a href="{{ path('commande_new') }}">Create a new commande</a>
        </li>
    </ul>
    <div class="col-xs-12">
    <table id="simple-table" class="table  table-bordered table-hover">
    <thead>
    <tr>
        <th>id</th>
        <th>idclient</th>
        <th class="hidden-480">prix</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>



        <tr>
            <td><a href="#"></a></td>
            <td></td>
            <td class="hidden-480">{{ commande.prix }}</td>

            <td><div class="hidden-sm hidden-xs btn-group">
                    <button class="btn btn-xs btn-success">
                        <i class="ace-icon fa fa-check bigger-120"></i>
                        <a class="btn btn-xs btn-info" href="#"></a>

                    </button>

                    <button class="btn btn-xs btn-info">
                        <i class="ace-icon fa fa-pencil bigger-120"></i>

                        <a class="btn btn-xs btn-info" href="#}"></a>
                    </button>

                    <button class="btn btn-xs btn-danger">
                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
            <td><a href="#" ></a></td>
            </button>

            <button class="btn btn-xs btn-warning">
                <i class="ace-icon fa fa-flag bigger-120"></i>
            </button>
        </div></td></tr>

    {% endfor %}






    <div class="hidden-md hidden-lg">
        <div class="inline pos-rel">
            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
            </button>

            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                <li>
                    <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
																			<span class="blue">
																				<i class="ace-icon fa fa-search-plus bigger-120"></i>
																			</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </td>
    </tr>

    <tr class="detail-row">
        <td colspan="8">
            <div class="table-detail">


                <div class="col-xs-12 col-sm-7">
                    <div class="space visible-xs"></div>

                    <div class="profile-user-info profile-user-info-striped">

                    </div>
                </div>


            </div>
            </div>
            </div>
        </td>
    </tr>





























    </div>
    </div>
    </div>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
{% endblock %}